
@tailwind base;
/* @layer base{
  @font-face {
      font-family: Gilroy;
      font-weight: 700;
      font-style: normal;
      src:url("/public/fonts/Gilroy-Bold.ttf") format("ttf");
  }
} */
@tailwind components;

@layer components{
    .mix-container{
        max-width: 1366px;
        @apply width-calc-sm md:width-calc-md lg:width-calc-lg
    }

    .BoxColor-sm{
      @apply w-72
    }
    .h1-mobile{

    }

}


@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* CONTAINER MIX CONTAINER */
      .width-calc-sm{
        width: calc(100% - 40px);
        @apply mx-auto
    }
      .width-calc-md{
        width: calc(100% - 64px);
        @apply mx-auto
    }
      .width-calc-lg{
        width: calc(100% - 184px);
        @apply mx-auto
    }
      .width-calc-xl{
        width: calc(100% - 288px);
        @apply mx-auto
  }
      

      

    }
  }